body {
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  color: #3e4a61;
}

a {
  color: #50717b;
}

.App-header {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin-top: 18px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
