.Dictionary section {
  background: #f6f5f5;
  padding: 25px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  color: #50717b;
}

.Dictionary .hint {
  color: #50717b;
  font-size: 11px;
  margin-top: 4px;
}

.Dictionary h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
}
